@media print{

#nav, #outer-container {
	display: none;
}


#body{
	margin-bottom:0px;
}

.block{
	padding-top:14px;
	padding-bottom:14px;
}

#container{
	margin: 0px;
	border-bottom: none;
}

#printme{
	display:none;
}

}